.top-navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-side {
  display: flex;
  align-items: center;
}

.logo-link {
  // Styling for logo link if needed
}

.logo {
  // Styling for the muttly logo
}

.muttly-brand {
  // Styling for the brandname Muttly
}

.muttly-slogan {
  // Styling for the Muttly slogan
}

.right-side {
  // Styling for the sign-in-out-button 
}

.sign-in-out-link {
  // Styling for the Bark In/Bark Out logo link
}